<!--First page-->
<div class="outline w-full h-screen">
  <!-- First page header-->
  <div class="header-height w-full outline ">
    <h1>Header</h1>
  </div>
  <!--First page body-->
  <div class="w-full first-page-height custom-height flex-col outline">
    <!-- Profiles -->
    <div class="w-full h-1/3 flex">
      <!--First half-->
      <div class="w-1/2 h-full bg-cyan-800">
        <!--Card -->
        <div class="w-full h-full rounded-full outline">
         
        </div>
      </div>  
      <!-- Second half -->
      <div class="w-1/2 h-full bg-teal-500">
        <h1>First.5 Screen</h1>
      </div>
    </div>
    
    <!--Buttons-->
    <div class="w-full h-2/3">
      hello
      <div></div>rounded
    </div>
   
  </div>
</div>

<!--Second page-->
<div class="w-full h-screen">
  <h1>Second screen</h1>
</div>      

<!--Third page-->
<div class=" outline w-full h-screen">
  <h1>Third screen</h1>
</div>  


<router-outlet />
